@import "_mapas";
//footer

/*extend*/
footer{
    .boton{
        font-size: 1.5em;
        border: solid 2px;
        padding: 8px 16px;
        margin: 8px;
    }
    .boton-twitter{
        @extend .boton;
    
        background-color: $color2;
        color:$color1;
    }
    .boton-facebook{
        @extend .boton;
    
        background-color: $color2;
        color: $color1;
    }
    .boton-instagram{
        @extend .boton;
    
        background-color: $color2;
        color: $color1;
    }
}